@charset "UTF-8";
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: "Montserrat", sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
    display: inline;
    width: initial;
  } */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  /* opcional */
  -webkit-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.mainIndex .bannerNosotros {
  height: 570px;
  background-image: url(https://raw.githubusercontent.com/EdgarLopez95/granTornillo/main/assets/bannerNosotros.jpg);
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: center; /* Alinea la imagen al centro del contenedor */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainIndex .bannerNosotros h3 {
  text-align: center;
  font-size: clamp(20px, 8vw, 50px);
  font-weight: bold;
  color: #fab800;
  max-width: 800px;
  margin-top: 100px;
  -webkit-hyphens: none;
          hyphens: none;
  padding-bottom: 30px;
  padding: 0 20px 20px 30px;
}
.mainIndex .bannerProdcutos {
  height: 570px;
  background-image: url(https://raw.githubusercontent.com/EdgarLopez95/granTornillo/main/assets/bannerProducto.jpg);
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: center; /* Alinea la imagen al centro del contenedor */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainIndex .bannerProdcutos h3 {
  text-align: center;
  font-size: clamp(20px, 8vw, 50px);
  font-weight: bold;
  color: #fab800;
  max-width: 800px;
  margin-top: 100px;
  -webkit-hyphens: none;
          hyphens: none;
  padding-bottom: 30px;
  padding: 0 20px 20px 30px;
}
.mainIndex .bannerServicios {
  height: 570px;
  background-image: url(https://raw.githubusercontent.com/EdgarLopez95/granTornillo/main/assets/bannerServicio.jpg);
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: center; /* Alinea la imagen al centro del contenedor */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainIndex .bannerServicios h3 {
  text-align: center;
  font-size: clamp(20px, 8vw, 50px);
  font-weight: bold;
  color: #fab800;
  max-width: 800px;
  margin-top: 100px;
  -webkit-hyphens: none;
          hyphens: none;
  padding-bottom: 30px;
  padding: 0 20px 20px 30px;
}
.mainIndex .bannerContacto {
  height: 570px;
  background-image: url(https://raw.githubusercontent.com/EdgarLopez95/granTornillo/main/assets/bannersContacto.jpg);
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: center; /* Alinea la imagen al centro del contenedor */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainIndex .bannerContacto h3 {
  text-align: center;
  font-size: clamp(20px, 8vw, 50px);
  font-weight: bold;
  color: #fab800;
  max-width: 800px;
  margin-top: 100px;
  -webkit-hyphens: none;
          hyphens: none;
  padding-bottom: 30px;
  padding: 0 20px 20px 30px;
}
.mainIndex .secionUnoNosotros {
  height: 400px;
}
.mainIndex .seccionSix {
  height: 670px;
  background-image: url(https://raw.githubusercontent.com/EdgarLopez95/granTornillo/main/assets/bannersContacto.jpg);
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: center; /* Alinea la imagen al centro del contenedor */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainIndex .seccionSix h3 {
  text-align: center;
  font-size: clamp(20px, 8vw, 50px);
  font-weight: bold;
  color: white;
  max-width: 800px;
  padding: 30px 10px 30px 10px;
  -webkit-hyphens: none;
          hyphens: none;
}

footer {
  background-color: #20384a;
  padding: 0 20px;
  padding-bottom: 30px;
}
footer .contenedor {
  padding-top: 40px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
footer .contenedor .izquierda img {
  width: 60%;
  padding-bottom: 20px;
}
footer .contenedor .izquierda a {
  color: white;
  text-decoration: underline;
}
footer .contenedor .centro h2 {
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 45px;
}
footer .contenedor .centro a {
  color: #d1d1d1;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 13px;
}
footer .contenedor .derecha h2 {
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 45px;
}
footer .contenedor .derecha a {
  color: #d1d1d1;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 13px;
}

.mainIndex .seccionUnoNosotros {
  padding: 70px 50px 0 50px;
}
.mainIndex .seccionUnoNosotros .imagenEscabadora {
  max-width: 50px;
  margin: 0 auto;
}
.mainIndex .seccionUnoNosotros h3 {
  text-align: center;
  font-size: clamp(30px, 8vw, 50px);
  font-weight: bold;
  color: #20384a;
}
.mainIndex .seccionUnoNosotros .contenedor {
  display: flex;
  width: 100%;
  gap: 50px;
  align-items: center;
  margin-top: 50px;
}
.mainIndex .seccionUnoNosotros .contenedor .izquierda {
  width: 100%;
}
.mainIndex .seccionUnoNosotros .contenedor .derecha {
  width: 100%;
}
.mainIndex .seccionUnoNosotros .contenedor .derecha p {
  color: #707070;
}
.mainIndex .seccionDosNosotros {
  padding: 70px 50px 0 50px;
}
.mainIndex .seccionDosNosotros .contenedor {
  display: flex;
  width: 100%;
  gap: 50px;
  align-items: center;
}
.mainIndex .seccionDosNosotros .contenedor .izquierda {
  width: 100%;
}
.mainIndex .seccionDosNosotros .contenedor .izquierda .subtitulo {
  font-size: 25px;
  font-weight: bold;
  color: #20384a;
}
.mainIndex .seccionDosNosotros .contenedor .izquierda .texto {
  display: flex;
}
.mainIndex .seccionDosNosotros .contenedor .izquierda .texto i {
  padding-right: 10px;
}
.mainIndex .seccionDosNosotros .contenedor .izquierda .texto p {
  -webkit-hyphens: none;
          hyphens: none;
  color: #707070;
}
.mainIndex .seccionDosNosotros .contenedor .izquierda .parrafoFinal {
  -webkit-hyphens: none;
          hyphens: none;
  color: #707070;
}
.mainIndex .seccionDosNosotros .contenedor .derecha {
  width: 100%;
}
.mainIndex .seccionDosNosotros .contenedor .derecha p {
  color: #707070;
}
.mainIndex .seccionTresNosotros {
  padding: 70px 50px 80px 50px;
}
.mainIndex .seccionTresNosotros .contenedor {
  display: flex;
  width: 100%;
  gap: 50px;
  align-items: center;
  margin-top: 50px;
}
.mainIndex .seccionTresNosotros .contenedor .izquierda {
  width: 100%;
}
.mainIndex .seccionTresNosotros .contenedor .izquierda p {
  color: #707070;
}
.mainIndex .seccionTresNosotros .contenedor .derecha {
  width: 100%;
}
.mainIndex .seccionTresNosotros .contenedor .derecha p {
  color: #707070;
}
.mainIndex .seccionTresNosotros .contenedor .derecha img {
  width: 60%;
}
.mainIndex .seccionCuatroNosotros {
  background-image: url(https://raw.githubusercontent.com/EdgarLopez95/granTornillo/main/assets/bannerFondo.png);
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: center; /* Alinea la imagen al centro del contenedor */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  margin-bottom: 150px;
}
.mainIndex .seccionCuatroNosotros .container {
  padding: 70px 20px 80px 0px;
}
.mainIndex .seccionCuatroNosotros .container .col .card {
  border-radius: 0;
}
.mainIndex .seccionCuatroNosotros .container .col .card .card-img-top {
  width: 172px;
  margin: 0 auto;
  padding-top: 30px;
}
.mainIndex .seccionCuatroNosotros .container .col .card .card-body {
  padding: 0;
}
.mainIndex .seccionCuatroNosotros .container .col .card .card-body .card-text {
  padding: 16px;
  -webkit-hyphens: none;
          hyphens: none;
  text-align: center;
  color: #707070;
}
.mainIndex .seccionCuatroNosotros .container .col .card .card-button {
  background: #fab800;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: all 300ms;
}
.mainIndex .seccionCuatroNosotros .container .col .card .card-button img {
  margin-right: 10px;
  width: 44px;
}
.mainIndex .seccionCuatroNosotros .container .col .card .card-button .button-text {
  color: white;
  font-weight: bold;
}
.mainIndex .seccionCuatroNosotros .container .col .card .card-button:hover {
  background: #20384a;
}
.mainIndex .seccionCuatroNosotros .container .informacion_cuadro {
  margin-top: 100px;
  background-color: white;
  margin-bottom: -17%;
  display: flex;
  border: 1px solid #b4a485;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}
.mainIndex .seccionCuatroNosotros .container .informacion_cuadro .izquierda {
  display: flex;
  align-items: center;
}
.mainIndex .seccionCuatroNosotros .container .informacion_cuadro .izquierda .imagen {
  align-items: center;
}
.mainIndex .seccionCuatroNosotros .container .informacion_cuadro .izquierda .imagen img {
  width: 66px;
  margin-right: 25px;
}
.mainIndex .seccionCuatroNosotros .container .informacion_cuadro .izquierda .text .texto-grande {
  color: #20384a;
  font-weight: bold;
  font-size: clamp(20px, 8vw, 40px);
  margin-bottom: 0;
}
.mainIndex .seccionCuatroNosotros .container .informacion_cuadro .izquierda .text .texto-pequeño {
  color: #707070;
  font-size: 16px;
}
.mainIndex .seccionCuatroNosotros .container .informacion_cuadro .centro {
  display: flex;
  align-items: center;
}
.mainIndex .seccionCuatroNosotros .container .informacion_cuadro .centro .imagen {
  align-items: center;
}
.mainIndex .seccionCuatroNosotros .container .informacion_cuadro .centro .imagen img {
  width: 66px;
  margin-right: 25px;
}
.mainIndex .seccionCuatroNosotros .container .informacion_cuadro .centro .text .texto-grande {
  color: #20384a;
  font-weight: bold;
  font-size: clamp(20px, 8vw, 40px);
  margin-bottom: 0;
}
.mainIndex .seccionCuatroNosotros .container .informacion_cuadro .centro .text .texto-pequeño {
  color: #707070;
  font-size: 16px;
}
.mainIndex .seccionCuatroNosotros .container .informacion_cuadro .derecha {
  display: flex;
  align-items: center;
}
.mainIndex .seccionCuatroNosotros .container .informacion_cuadro .derecha .imagen {
  align-items: center;
}
.mainIndex .seccionCuatroNosotros .container .informacion_cuadro .derecha .imagen img {
  width: 66px;
  margin-right: 25px;
}
.mainIndex .seccionCuatroNosotros .container .informacion_cuadro .derecha .text .texto-grande {
  color: #20384a;
  font-weight: bold;
  font-size: clamp(20px, 8vw, 40px);
  margin-bottom: 0;
}
.mainIndex .seccionCuatroNosotros .container .informacion_cuadro .derecha .text .texto-pequeño {
  color: #707070;
  font-size: 16px;
}
.mainIndex .seccionCincoNosotros {
  padding: 70px 50px 70px 50px;
}
.mainIndex .seccionCincoNosotros .imagenEscabadora {
  max-width: 50px;
  margin: 0 auto;
}
.mainIndex .seccionCincoNosotros .titulo {
  text-align: center;
  font-size: clamp(30px, 8vw, 50px);
  font-weight: bold;
  color: #20384a;
  margin-bottom: 100px;
}
.mainIndex .seccionCincoNosotros .container .col .card {
  box-shadow: -20px -20px 0px 0px rgb(32, 56, 74);
  padding: 20px;
  display: flex;
  flex-direction: row;
  border-radius: 0;
}
.mainIndex .seccionCincoNosotros .container .col .card .icono {
  flex: 15%;
  margin-right: 10px;
}
.mainIndex .seccionCincoNosotros .container .col .card .icono .card-img-top {
  margin: 0 auto;
}
.mainIndex .seccionCincoNosotros .container .col .card .card-body {
  flex: 85%;
  padding: 0;
}
.mainIndex .seccionCincoNosotros .container .col .card .card-body .card-title {
  font-size: 25px;
  font-weight: bold;
  -webkit-hyphens: none;
          hyphens: none;
  color: #20384a;
}
.mainIndex .seccionCincoNosotros .container .col .card .card-body .card-title .list {
  list-style: none;
  padding-left: 1px !important;
}
.mainIndex .seccionCincoNosotros .container .col .card .card-body .card-text {
  -webkit-hyphens: none;
          hyphens: none;
  color: #707070;
}

.mainIndex .secionUnoContacto {
  padding: 70px 50px 70px 50px;
  display: flex;
  width: 100%;
  gap: 50px;
  align-items: center;
}
.mainIndex .secionUnoContacto .imagenEscabadora {
  max-width: 50px;
}
.mainIndex .secionUnoContacto .titulo {
  -webkit-hyphens: none;
          hyphens: none;
  font-size: clamp(30px, 8vw, 50px);
  font-weight: bold;
  color: #20384a;
}
.mainIndex .secionUnoContacto .izquierda {
  width: 100%;
}
.mainIndex .secionUnoContacto .izquierda .info-parrafo {
  color: #20384a;
  font-size: 17px;
  margin: 0;
  padding-bottom: 10px;
}
.mainIndex .secionUnoContacto .derecha {
  width: 100%;
}
.mainIndex .secionUnoContacto .derecha .btn {
  color: white;
}
.mainIndex .secionDosContacto {
  padding: 70px 50px 70px 50px;
  width: 100%;
  background-color: #fab800;
}
.mainIndex .secionDosContacto button {
  color: #20384a;
  font-weight: bold;
}
.mainIndex .seccionOne {
  height: 830px;
  background-image: url(https://raw.githubusercontent.com/EdgarLopez95/granTornillo/main/assets/bannerHome.jpg);
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: center; /* Alinea la imagen al centro del contenedor */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainIndex .seccionOne .secctionOne__div p {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
.mainIndex .seccionOne .secctionOne__div h1 {
  font-size: clamp(40px, 8vw, 90px);
  font-weight: bold;
}
.mainIndex .seccionOne .secctionOne__div h1 .primerTexto {
  color: white;
}
.mainIndex .seccionOne .secctionOne__div h1 .segundoTexto {
  color: #fab800;
}
.mainIndex .seccionOne .secctionOne__div h2 {
  max-width: 600px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: normal;
  color: white;
}
.mainIndex .seccionOne .secctionOne__div button {
  background-color: #fab800;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding: 30px 45px;
  cursor: pointer;
  transition: all 300ms;
}
.mainIndex .seccionOne .secctionOne__div button:hover {
  transform: scale(1.1);
}
.mainIndex .seccionTwo {
  padding: 50px 50px;
}
.mainIndex .seccionTwo .imagenEscabadora {
  max-width: 50px;
  margin: 0 auto;
}
.mainIndex .seccionTwo h3 {
  text-align: center;
  font-size: clamp(30px, 8vw, 50px);
  font-weight: bold;
  color: #20384a;
}
.mainIndex .seccionTwo .parrafo-bienvenidos {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  max-width: 900px;
  margin: 30px auto;
  color: #707070;
  -webkit-hyphens: none;
          hyphens: none;
}
.mainIndex .seccionTwo .container .card-title {
  color: #20384a;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.mainIndex .seccionTwo .container .card-text {
  text-align: center;
  -webkit-hyphens: none;
          hyphens: none;
}
.mainIndex .seccionTwo .container .btn {
  border-radius: 0;
  border: 0;
  border-top: 1px solid #b4a485;
}
.mainIndex .seccionTrees {
  display: flex;
  flex-wrap: wrap;
}
.mainIndex .seccionTrees .seccionOne_div-izquierda {
  flex: 50%;
}
.mainIndex .seccionTrees .seccionOne_div-izquierda .carousel-control-prev-icon,
.mainIndex .seccionTrees .seccionOne_div-izquierda .carousel-control-next-icon {
  background-color: #20384a;
  background-size: 100%, 100%;
  border-radius: 10%;
  padding: 0 10px;
  height: 30px;
  width: 30px;
}
.mainIndex .seccionTrees .seccionOne_div-derecho {
  background-image: url(https://raw.githubusercontent.com/EdgarLopez95/granTornillo/main/assets/imagenDerecha.jpg);
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  display: flex;
  flex: 50%;
  align-items: center;
}
.mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno {
  margin: 40px 30px 40px 80px;
  max-width: 580px;
}
.mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno .imagenEscabadoraAmarilla {
  max-width: 50px;
  padding-bottom: 15px;
}
.mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno h3 {
  color: #fab800;
  font-size: clamp(30px, 8vw, 50px);
  font-weight: bold;
}
.mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno p {
  font-size: 16px;
  font-weight: normal;
  color: white;
  -webkit-hyphens: none;
          hyphens: none;
}
.mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno .card-group {
  padding-bottom: 20px;
  gap: 10px;
  width: 60%;
}
.mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno .card-group .card {
  background-color: #20384a;
  border: 1px solid #3a6883;
  border-radius: 10px;
}
.mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno .card-group .card img {
  padding-top: 15px;
  margin: 0 auto;
  width: 25%;
}
.mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno .card-group .card h5 {
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
}
.mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno .card-group .card .card-body {
  padding: 5px;
}
.mainIndex .seccionFour {
  background-color: #fab800;
  padding: 50px 0 100px 0;
}
.mainIndex .seccionFour .imagenEscabadora {
  max-width: 50px;
  margin: 0 auto;
}
.mainIndex .seccionFour .titulo-seecionCuatro {
  text-align: center;
  font-size: clamp(30px, 8vw, 50px);
  font-weight: bold;
  color: #20384a;
  padding-top: 30px;
  padding-bottom: 60px;
  -webkit-hyphens: none;
          hyphens: none;
}
.mainIndex .seccionFour .contenedor-logos {
  display: flex;
}
.mainIndex .seccionFour .contenedor-logos .logos {
  margin: 0 auto;
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-auto-rows: auto;
  grid-template-columns: repeat(5, 1fr);
}
.mainIndex .seccionFour .contenedor-logos .logos .fa {
  width: 100%;
}
.mainIndex .seccionFive {
  background-color: white;
  padding: 50px 0;
}
.mainIndex .seccionFive .imagenEscabadora {
  max-width: 50px;
  margin: 0 auto;
}
.mainIndex .seccionFive .titulo {
  text-align: center;
  font-size: clamp(30px, 8vw, 50px);
  font-weight: bold;
  color: #20384a;
  padding-top: 30px;
}
.mainIndex .seccionFive .subti {
  text-align: center;
  font-size: clamp(10px, 6vw, 30px);
  font-weight: normal;
  color: #20384a;
}
.mainIndex .seccionFive .contenedor-logos {
  max-width: 1200px;
  height: 300px;
  display: flex;
  margin: 0 auto;
}
.mainIndex .seccionFive .contenedor .container .testimonio {
  padding-top: 50px;
}
.mainIndex .seccionFive .contenedor .container .testimonio img {
  margin: 0 auto;
  width: 87px;
}
.mainIndex .seccionFive .contenedor .container .testimonio p {
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
  color: #707070;
  max-width: 920px;
}
.mainIndex .seccionFive .contenedor .container .testimonio h3 {
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  color: #474747;
  font-weight: bold;
}
.mainIndex .seccionFive .contenedor .container .testimonio h4 {
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  color: #474747;
  font-weight: bold;
}

@media screen and (max-width: 1400px) {
  .mainIndex .seccionCuatroNosotros {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 1100px) {
  .mainIndex .seccionTrees .seccionOne_div-derecho {
    flex: 100%;
  }
  .mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno {
    padding: 30px 10px;
    margin: 0 auto;
  }
  .mainIndex .seccionTrees .seccionOne_div-izquierda {
    flex: 100%;
  }
  .mainIndex .seccionCuatroNosotros {
    margin-bottom: 90px;
  }
  .mainIndex .seccionCuatroNosotros .container {
    padding: 30px 10px;
  }
  .mainIndex .seccionCuatroNosotros .container .informacion_cuadro {
    margin-bottom: -20%;
  }
}
@media screen and (max-width: 1000px) {
  .mainIndex .seccionUnoNosotros {
    gap: 20px;
    padding: 30px 10px;
  }
  .mainIndex .seccionUnoNosotros .contenedor {
    flex-wrap: wrap;
  }
  .mainIndex .secionUnoContacto {
    padding: 30px 10px;
    flex-wrap: wrap;
  }
  .mainIndex .seccionDosNosotros {
    padding: 30px 10px;
  }
  .mainIndex .seccionDosNosotros .contenedor {
    flex-wrap: wrap-reverse;
  }
  .mainIndex .seccionTresNosotros {
    padding: 30px 10px;
  }
  .mainIndex .seccionTresNosotros .contenedor {
    flex-wrap: wrap;
  }
  .mainIndex .seccionCuatroNosotros {
    padding-top: 120px;
    margin-bottom: 120px;
  }
  .mainIndex .seccionCuatroNosotros .container .informacion_cuadro {
    margin-bottom: -30%;
  }
  .mainIndex .seccionCincoNosotros {
    padding: 30px 10px;
  }
}
@media screen and (max-width: 768px) {
  footer .contenedor {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 50px;
  }
  footer .contenedor .izquierda img {
    width: 40%;
  }
  footer .contenedor .centro h2 {
    padding-bottom: 20px;
  }
  footer .contenedor .derecha h2 {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .mainIndex .seccionFour .contenedor-logos .logos {
    grid-template-columns: repeat(3, 1fr);
  }
  .mainIndex .seccionSix h3 {
    font-size: 25px;
  }
}
@media screen and (max-width: 425px) {
  .mainIndex .seccionOne .secctionOne__div button {
    padding: 15px 25px;
  }
  .mainIndex .seccionTwo {
    padding: 50px 10px;
  }
  .mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno {
    padding: 30px 10px;
  }
  .mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno .sectores {
    width: 250px;
  }
  .mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno .sectores .cuadro-uno h4 {
    font-size: 12px;
  }
}/*# sourceMappingURL=styles.css.map */