@charset "UTF-8";
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: "Montserrat", sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
    display: inline;
    width: initial;
  } */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  /* opcional */
  -webkit-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.header .nav {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  max-width: 1200px;
  margin: 0 auto;
}
.header .nav .logo a img {
  width: 19rem;
  transition: all 300ms;
}
.header .nav .logo a img:hover {
  transform: scale(1.1);
}
.header .nav .menu {
  color: #7a7a7a;
  display: flex;
  align-items: center;
}
.header .nav .menu ul a {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 25px 0 0;
  transition: all 300ms;
}
.header .nav .menu ul a:hover {
  transform: scale(1.1);
  color: #fab800;
}
.header .nav .botonLlamar a {
  transition: all 300ms;
}
.header .nav .botonLlamar a .contact-button {
  background-color: #fab800;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  height: 73px;
  cursor: pointer;
}
.header .nav .botonLlamar a .contact-button .icon-container {
  margin-right: 10px;
  height: 100%;
}
.header .nav .botonLlamar a .contact-button .icon-container img {
  vertical-align: middle;
  height: 100%;
}
.header .nav .botonLlamar a .contact-button .text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.header .nav .botonLlamar a .contact-button .text-container span {
  font-weight: medium;
  font-size: 12px;
  margin-bottom: -5px;
}
.header .nav .botonLlamar a .contact-button .text-container strong {
  font-weight: bolder;
  font-size: 14px;
  margin-top: -5px;
}
.header .nav .botonLlamar a:hover {
  transform: scale(1.1);
}

.mainIndex .seccionOne {
  height: 830px;
  background-image: url(https://raw.githubusercontent.com/EdgarLopez95/granTornillo/main/assets/bannerHome.jpg);
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: center; /* Alinea la imagen al centro del contenedor */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainIndex .seccionOne .secctionOne__div {
  width: 1200px;
  margin: 0 auto;
}
.mainIndex .seccionOne .secctionOne__div p {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
.mainIndex .seccionOne .secctionOne__div h1 {
  font-size: clamp(40px, 8vw, 90px);
  font-weight: bold;
}
.mainIndex .seccionOne .secctionOne__div h1 .primerTexto {
  color: white;
}
.mainIndex .seccionOne .secctionOne__div h1 .segundoTexto {
  color: #fab800;
}
.mainIndex .seccionOne .secctionOne__div h2 {
  max-width: 600px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: normal;
  color: white;
}
.mainIndex .seccionOne .secctionOne__div button {
  background-color: #fab800;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding: 30px 45px;
  cursor: pointer;
  transition: all 300ms;
}
.mainIndex .seccionOne .secctionOne__div button:hover {
  transform: scale(1.1);
}
.mainIndex .seccionTwo {
  padding: 100px 100px;
}
.mainIndex .seccionTwo img {
  max-width: 50px;
  margin: 0 auto;
}
.mainIndex .seccionTwo h3 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #20384a;
  padding: 30px;
}
.mainIndex .seccionTwo p {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  color: #707070;
  -webkit-hyphens: none;
          hyphens: none;
}
.mainIndex .seccionTwo .contenedorSeccion {
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.mainIndex .seccionTwo .contenedorSeccion article {
  border: 1px solid #b4a485;
  width: 100%;
  transition: all 300ms;
  padding: 15px 0 0 0;
}
.mainIndex .seccionTwo .contenedorSeccion article .imagenBombillo {
  max-width: 75px;
  margin: 0 auto;
}
.mainIndex .seccionTwo .contenedorSeccion article .imagenTelefono {
  max-width: 150px;
  margin: 0 auto;
  padding: 13px 0;
}
.mainIndex .seccionTwo .contenedorSeccion article .imagenTaladro {
  max-width: 144px;
  margin: 0 auto;
  padding: 8px 0;
}
.mainIndex .seccionTwo .contenedorSeccion article h4 {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #20384a;
  text-align: center;
  margin: 0 auto;
}
.mainIndex .seccionTwo .contenedorSeccion article p {
  width: 90%;
}
.mainIndex .seccionTwo .contenedorSeccion article button {
  cursor: pointer;
  margin-top: 30px;
  display: flex;
  border-top: 1px solid #b4a485;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: all 300ms;
}
.mainIndex .seccionTwo .contenedorSeccion article button .texto {
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
  padding: 20px 0;
}
.mainIndex .seccionTwo .contenedorSeccion article button .flecha {
  margin-right: 30px;
  width: 20px;
}
.mainIndex .seccionTwo .contenedorSeccion article button:hover {
  background-color: #20384a;
  color: white;
}
.mainIndex .seccionTrees {
  display: flex;
}
.mainIndex .seccionTrees .seccionOne_div-izquierda {
  background-color: #b4a485;
  width: 50%;
}
.mainIndex .seccionTrees .seccionOne_div-izquierda .carousel-control-prev-icon,
.mainIndex .seccionTrees .seccionOne_div-izquierda .carousel-control-next-icon {
  background-color: #20384a;
  background-size: 100%, 100%;
  border-radius: 10%;
  padding: 0 10px;
  height: 30px;
  width: 30px;
}
.mainIndex .seccionTrees .seccionOne_div-derecho {
  background-image: url(../../../assets/imagenDerecha.jpg);
  width: 50%;
  display: flex;
  align-items: center;
}
.mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno {
  max-width: 490px;
  margin-left: 110px;
}
.mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno .imagenEscabadoraAmarilla {
  max-width: 50px;
}
.mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno h3 {
  color: #fab800;
  font-size: 50px;
  font-weight: bold;
  margin: 20px 0;
}
.mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno p {
  font-size: 16px;
  font-weight: normal;
  color: white;
  -webkit-hyphens: none;
          hyphens: none;
}
.mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno .tres-botones {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno .tres-botones .cuadro-uno {
  background-color: #20384a;
  border: 1px solid #3a6883;
  border-radius: 10px;
}
.mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno .tres-botones .cuadro-uno img {
  padding-top: 20px;
  margin: 0 auto;
  width: 50%;
}
.mainIndex .seccionTrees .seccionOne_div-derecho .contenedor_interno .tres-botones .cuadro-uno h4 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}/*# sourceMappingURL=styles.css.map */