@media screen and (max-width: 1400px) {
  .mainIndex {
    .secionUnoProductos {
      padding: 30px 10px;
      .botones{
        grid-template-columns: repeat(3, 1fr);
      }
    }
    .seccionCuatroNosotros {
      margin-bottom: 100px;
      .container {
        .informacion_cuadro {
        }
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .mainIndex {
    .secionUnoProductos {
      padding: 30px 10px;
      .botones{
        grid-template-columns: repeat(3, 1fr);
      }
     
    }
    .seccionTrees {
      .seccionOne_div-derecho {
        flex: 100%;
        .contenedor_interno {
          padding: 30px 10px;
          margin: 0 auto;
          .imagenEscabadoraAmarilla {
          }
        }
      }
      .seccionOne_div-izquierda {
        flex: 100%;
      }
    }
    .seccionCuatroNosotros {
      margin-bottom: 90px;
      .container {
        padding: 30px 10px;
        .informacion_cuadro {
          margin-bottom: -20%;
        }
      }
    }

    .seccionFour {
      .contenedor-logos {
        .logos {
          .fa {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .mainIndex {

    .seccionUnoNosotros {
      gap: 20px;
      padding: 30px 10px;
      .contenedor {
        flex-wrap: wrap;
      }
    }
    .secionUnoContacto {
      padding: 30px 10px;
      flex-wrap: wrap;
    }
    .secionUnoServicios {
      padding: 30px 10px;
    }
    .seccionDosNosotros {
      padding: 30px 10px;
      .contenedor {
        flex-wrap: wrap-reverse;
      }
    }
    .secionDosContacto {
      padding: 30px 10px;
    }
    .seccionTresNosotros {
      padding: 30px 10px;
      .contenedor {
        flex-wrap: wrap;
      }
    }
    .seccionCuatroNosotros {
      padding-top: 120px;
      margin-bottom: 120px;
      .container {
        .informacion_cuadro {
          margin-bottom: -30%;
        }
      }
    }
    .seccionCincoNosotros {
      padding: 30px 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .seccionDosproductos{
    .azul{
      margin-top: 50px;

      .contenido{
        gap: 20px;
        padding: 30px 25px;
        flex-wrap: wrap;
      }
    }
    .normal{
      margin-top: 5px;

      .contenido{
        gap: 20px;
        padding: 30px 25px;
        flex-wrap: wrap;
        flex-wrap: wrap-reverse;
      }
    }
  }
  footer {
    .contenedor {
      grid-template-columns: repeat(1, 1fr);
      padding-top: 50px;
      .izquierda {
        img {
          width: 40%;
        }
      }
      .centro {
        h2 {
          padding-bottom: 20px;
        }
      }
      .derecha {
        h2 {
          padding-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .mainIndex {
    
    .secionUnoProductos {
      .botones{
        grid-template-columns: repeat(1, 1fr);

      }
    }
    .seccionDosproductos{
      .azul{
        margin-top: 5px; 
      }
      .normal{
        margin-top: 5px;
      }
    }
    .seccionFour {
      .contenedor-logos {
        .logos {
          width: 50%;
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
    .seccionSix {
      h3 {
        font-size: 25px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .header {
    .navbar {
    }
  }
  .mainIndex {
    .seccionOne {
      .secctionOne__div {
        button {
          padding: 15px 25px;
        }
      }
    }
    .seccionTwo {
      padding: 50px 10px;
    }
    .seccionTrees {
      .seccionOne_div-derecho {
        .contenedor_interno {
          padding: 30px 10px;
          .sectores {
            width: 250px;
            .cuadro-uno {
              h4 {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    .seccionSix {
      h3 {
      }
    }
  }
}
