.mainIndex {
  .secionUnoContacto {
    padding: 70px 50px 70px 50px;
    display: flex;
    width: 100%;

    gap: 50px;
    align-items: center;
    .imagenEscabadora {
      max-width: 50px;

    }
    .titulo {
      hyphens: none;
      font-size: clamp(30px, 8vw, 50px);
      font-weight: bold;
      color: $colorDarkBlue;
    }
    .izquierda {
      width: 100%;
      //height: 200px;
      //background-color: aqua;
      .info-parrafo{
        color: $colorDarkBlue;
        font-size: 17px;
        margin: 0;
        padding-bottom: 10px;
        
      }
    }
    .derecha {
      width: 100%;
      .btn{
        color: white;
      }
      .form-control{
        background-color: #f6f4f0;
        &::placeholder {
          color: #939393;
        }
        
      }
      
    }
  }
  .secionDosContacto {
    padding: 70px 50px 70px 50px;
    
    width: 100%;
   
    background-color: $colorYellow;
    .container{
      .imagenEscabadora {
        max-width: 50px;
        padding-bottom: 15px;
        margin: 0 auto;
      }
      h3 {
        margin: 0 auto;
        text-align: center;
        color: $colorDarkBlue;
        font-size: clamp(30px, 8vw, 50px);
        font-weight: bold;
        hyphens: none;
        padding-bottom: 50px;
      }
    }
   
    button{
        color: $colorDarkBlue;
        font-weight: bold;
    }
  }
  .secionTresContacto {
  }
}
