body {
  .boton-wap {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    .my-float {
      margin-top: 16px;
    }
    &:hover {
      text-decoration: none;
      color: #25d366;
      background-color: #fff;
    }
  }
}
.header {
  .navbar-brand {
    .logo-principal {
      max-width: 65%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  a {
    color: $colorDarkBlue;
    font-weight: bold;
    &:hover {
      font-weight: bolder;
      color: $colorYellow;
    }
  }
}
.mainIndex {
  .bannerNosotros {
    height: 570px;
    background-image: url(https://raw.githubusercontent.com/EdgarLopez95/granTornillo/main/assets/bannerNosotros.jpg);
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center; /* Alinea la imagen al centro del contenedor */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
      text-align: center;
      font-size: clamp(20px, 8vw, 50px);
      font-weight: bold;
      color: $colorYellow;
      max-width: 800px;
      margin-top: 100px;
      hyphens: none;
      padding-bottom: 30px;
      padding: 0 20px 20px 30px;
    }
  }
  .bannerProdcutos {
    height: 570px;
    background-image: url(https://raw.githubusercontent.com/EdgarLopez95/granTornillo/main/assets/bannerProducto.jpg);
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center; /* Alinea la imagen al centro del contenedor */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
      text-align: center;
      font-size: clamp(20px, 8vw, 50px);
      font-weight: bold;
      color: $colorYellow;
      max-width: 800px;
      margin-top: 100px;
      hyphens: none;
      padding-bottom: 30px;
      padding: 0 20px 20px 30px;
    }
  }
  .bannerServicios {
    height: 570px;
    background-image: url(https://raw.githubusercontent.com/EdgarLopez95/granTornillo/main/assets/bannerServicio.jpg);
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center; /* Alinea la imagen al centro del contenedor */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
      text-align: center;
      font-size: clamp(20px, 8vw, 50px);
      font-weight: bold;
      color: $colorYellow;
      max-width: 800px;
      margin-top: 100px;
      hyphens: none;
      padding-bottom: 30px;
      padding: 0 20px 20px 30px;
    }
  }
  .bannerContacto {
    height: 570px;
    background-image: url(https://raw.githubusercontent.com/EdgarLopez95/granTornillo/main/assets/bannersContacto.jpg);
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center; /* Alinea la imagen al centro del contenedor */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
      text-align: center;
      font-size: clamp(20px, 8vw, 50px);
      font-weight: bold;
      color: $colorYellow;
      max-width: 800px;
      margin-top: 100px;
      hyphens: none;
      padding-bottom: 30px;
      padding: 0 20px 20px 30px;
    }
  }
  .secionUnoNosotros {
    height: 400px;
  }
  .seccionSix {
    height: 670px;
    background-image: url(https://raw.githubusercontent.com/EdgarLopez95/granTornillo/main/assets/bannersContacto.jpg);
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center; /* Alinea la imagen al centro del contenedor */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
      text-align: center;
      font-size: clamp(20px, 8vw, 50px);
      font-weight: bold;
      color: white;
      max-width: 800px;
      padding: 30px 10px 30px 10px;
      hyphens: none;
    }
  }
}

footer {
  background-color: $colorDarkBlue;
  padding: 0 20px;
  padding-bottom: 30px;
  .contenedor {
    padding-top: 40px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    .izquierda {
      img {
        width: 60%;
        padding-bottom: 20px;
      }
      a {
        color: white;
        text-decoration: underline;
      }
    }
    .centro {
      h2 {
        color: white;
        font-size: 25px;
        font-weight: bold;
        padding-bottom: 45px;
      }
      a {
        color: #d1d1d1;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 13px;
      }
    }
    .derecha {
      h2 {
        color: white;
        font-size: 25px;
        font-weight: bold;
        padding-bottom: 45px;
      }
      a {
        color: #d1d1d1;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 13px;
      }
    }
  }
}
