:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #0288d1;
  --gray: #ebebeb;
  --box-shadow1: 0px 0px 18px 2px rgba(10, 55, 90, 0.15);
}
.mainIndex {
  .seccionUnoNosotros {
    padding: 70px 50px 0 50px;
    .imagenEscabadora {
      max-width: 50px;
      margin: 0 auto;
    }
    h3 {
      text-align: center;
      font-size: clamp(30px, 8vw, 50px);
      font-weight: bold;
      color: $colorDarkBlue;
    }
    .contenedor {
      display: flex;
      width: 100%;
      gap: 50px;
      align-items: center;
      margin-top: 50px;
      .izquierda {
        width: 100%;
      }
      .derecha {
        width: 100%;
        p {
          text-align: justify;
          color: $colorParagraphs;
          hyphens: none;
        }
      }
    }
  }
  .seccionDosNosotros {
    padding: 70px 50px 30px 50px;

    .contenedor {
      display: flex;
      width: 100%;
      gap: 50px;
      align-items: center;
      .izquierda {
        width: 100%;
        .subtitulo {
          font-size: 25px;
          font-weight: bold;
          color: $colorDarkBlue;
        }
        .texto {
          display: flex;

          img {
            max-width: 7%;
            object-fit: contain;
            margin-right: 10px;
          }

          p {
            hyphens: none;
            color: $colorParagraphs;
            text-align: justify;
            .bold {
              font-weight: bolder;
              color: $colorDarkBlue;
            }
            a {
              text-decoration: underline;
              color: $colorDarkBlue;
            }
          }
        }
        .parrafoFinal {
          hyphens: none;
          color: $colorParagraphs;
        }
      }
      .derecha {
        width: 100%;
      }
    }
  }
  .seccionCuatroNosotros {
    background-image: url(https://raw.githubusercontent.com/EdgarLopez95/granTornillo/main/assets/bannerFondo.png);
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center; /* Alinea la imagen al centro del contenedor */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */

    .container {
      padding: 70px 20px 80px 0px;
      .historia {
        .imagenEscabadora {
          max-width: 50px;
          padding-bottom: 30px;
          margin: 0 auto;
        }
        .titulo {
          text-align: center;
          font-size: clamp(30px, 8vw, 50px);
          font-weight: bold;
          color: #fab800;
          margin-bottom: 100px;
        }

        .timeline {
          //display: none;
          padding: 50px 0;
          position: relative;
        }
        .timeline-nodes {
          padding-bottom: 25px;
          position: relative;
        }
        .timeline-nodes:nth-child(even) {
          flex-direction: row-reverse;
        }
        .timeline h3,
        .timeline p {
          padding: 5px 15px;
        }
        .timeline h3 {
          font-weight: lighter;
          background: var(--blue);
        }
        .timeline p,
        .timeline time {
          color: var(--blue);
        }
        .timeline::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 50%;
          width: 0;
          border-left: 2px dashed var(--blue);
          height: 100%;
          z-index: 1;
          transform: translateX(-50%);
        }

        .timeline-content {
          border: 1px solid var(--blue);
          position: relative;
          border-radius: 0 0 10px 10px;
          box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2);
        }
        .timeline-nodes:nth-child(odd) .imagenn,
        .timeline-nodes:nth-child(odd) p {
          text-align: right;
          margin-left: auto;
          margin-right: 0;
          display: block;
        }
        .imagenn {
          // position: absolute;
          max-width: 40%;
          top: 0;
          //left: 0;
          padding: 10px 0;
          height: auto;
        }
        .texto-derecha {
          position: absolute;
          top: 0;
          left: 0;
          padding-left: 10px; /* Espacio entre la imagen y el texto (ajustable) */
          max-width: 60%; /* Ancho máximo que ocupará el texto (ajustable) */
          box-sizing: border-box; /* Incluye el padding en el ancho total */
          top: 50%; /* Coloca la parte superior del texto en el centro vertical */
          transform: translateY(-50%);
        }
        .texto-derecha-b {
          position: absolute;
          top: 0;
          right: 0;
          padding-left: 10px; /* Espacio entre la imagen y el texto (ajustable) */
          max-width: 60%; /* Ancho máximo que ocupará el texto (ajustable) */
          box-sizing: border-box; /* Incluye el padding en el ancho total */
          top: 50%; /* Coloca la parte superior del texto en el centro vertical */
          transform: translateY(-50%);
        }
        .timeline-nodes:nth-child(odd) .timeline-date {
          text-align: left;
        }

        .timeline-nodes:nth-child(even) .timeline-date {
          text-align: right;
        }
        .timeline-nodes:nth-child(odd) .timeline-content::after {
          content: "";
          position: absolute;
          top: 5%;
          left: 100%;
          width: 0;
          border-left: 10px solid var(--blue);
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
        }
        .timeline-nodes:nth-child(even) .timeline-content::after {
          content: "";
          position: absolute;
          top: 5%;
          right: 100%;
          width: 0;
          border-right: 10px solid var(--blue);
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
        }
        .timeline-image {
          position: relative;
          z-index: 100;
        }
        .timeline-image::before {
          content: "";
          width: 80px;
          height: 80px;
          border: 2px dashed var(--blue);
          border-radius: 50%;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #fff;
          z-index: 1;
        }
        .timeline-image img {
          position: relative;
          z-index: 100;
        }
        /*small device style*/

        @media (max-width: 767px) {
          .timeline-nodes:nth-child(odd) h3,
          .timeline-nodes:nth-child(odd) p {
            text-align: left;
          }
          .timeline-nodes:nth-child(even) {
            flex-direction: row;
          }
          .timeline::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 4%;
            width: 0;
            border-left: 2px dashed var(--blue);
            height: 100%;
            z-index: 1;
            transform: translateX(-50%);
          }

          .timeline h3 {
            font-size: 1.7rem;
          }
          .timeline p {
            font-size: 14px;
          }
          .timeline-image {
            position: absolute;
            left: 0%;
            top: 60px;
            /*transform: translateX(-50%;);*/
          }
          .timeline-nodes:nth-child(odd) .timeline-content::after {
            content: "";
            position: absolute;
            top: 5%;
            left: auto;
            right: 100%;
            width: 0;
            border-left: 0;
            border-right: 10px solid var(--blue);
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
          }
          .timeline-nodes:nth-child(even) .timeline-content::after {
            content: "";
            position: absolute;
            top: 5%;
            right: 100%;
            width: 0;
            border-right: 10px solid var(--blue);
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
          }
          .timeline-nodes:nth-child(even) .timeline-date {
            text-align: left;
          }
          .timeline-image::before {
            width: 65px;
            height: 65px;
          }
        }

        /*extra small device style */
        @media (max-width: 575px) {
          .timeline {
            padding: 20px;
          }
          .timeline-image {
            display: none;
            position: absolute;
            left: -1%;
          }
          .timeline-image::before {
            width: 60px;
            height: 60px;
          }
        }
      }

      .informacion_cuadro {
        margin-top: 50px;
        background-color: white;
        //margin-bottom: -17%;
        display: flex;
        border: 1px solid #b4a485;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;

        .izquierda {
          display: flex;
          align-items: center;
          .imagen {
            align-items: center;
            img {
              width: 66px;
              margin-right: 25px;
            }
          }

          .text {
            .texto-grande {
              color: $colorDarkBlue;
              font-weight: bold;
              font-size: clamp(20px, 8vw, 40px);
              margin-bottom: 0;
            }
            .texto-pequeño {
              color: $colorParagraphs;
              font-size: 16px;
            }
          }
        }
        .centro {
          display: flex;
          align-items: center;
          .imagen {
            align-items: center;
            img {
              width: 66px;
              margin-right: 25px;
            }
          }

          .text {
            .texto-grande {
              color: $colorDarkBlue;
              font-weight: bold;
              font-size: clamp(20px, 8vw, 40px);
              margin-bottom: 0;
            }
            .texto-pequeño {
              color: $colorParagraphs;
              font-size: 16px;
            }
          }
        }
        .derecha {
          display: flex;
          align-items: center;
          .imagen {
            align-items: center;
            img {
              width: 66px;
              margin-right: 25px;
            }
          }

          .text {
            .texto-grande {
              color: $colorDarkBlue;
              font-weight: bold;
              font-size: clamp(20px, 8vw, 40px);
              margin-bottom: 0;
            }
            .texto-pequeño {
              color: $colorParagraphs;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .seccionCincoNosotros {
    padding: 70px 50px 70px 50px;
    .imagenEscabadora {
      max-width: 50px;
      margin: 0 auto;
    }
    .titulo {
      text-align: center;
      font-size: clamp(30px, 8vw, 50px);
      font-weight: bold;
      color: $colorDarkBlue;
      margin-bottom: 100px;
    }
    .container {
      .col {
        .card {
          box-shadow: -20px -20px 0px 0px rgba(32, 56, 74, 1);
          padding: 20px;
          display: flex;
          flex-direction: row;
          border-radius: 0;
          .icono {
            flex: 15%;
            margin-right: 10px;
            .card-img-top {
              margin: 0 auto;
            }
          }
          .card-body {
            flex: 85%;
            padding: 0;
            .card-title {
              font-size: 25px;
              font-weight: bold;
              hyphens: none;
              color: $colorDarkBlue;
              .list {
                list-style: none;
                padding-left: 1px !important;
              }
            }
            .card-text {
              hyphens: none;
              color: $colorParagraphs;
              text-align: justify;
            }
          }
        }
      }
    }
  }
}
